<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head> 
<body>
    
<form action="" id="customer_registration_form">
    First name<input type="text" id="first_name" class="form_input" placeholder="first name">
    <br>
    Last name<input type="text" id="last_name" class="form_input" placeholder="last name">
    <br>
    National ID<input type="number" id="national_id" class="form_input" placeholder="national id">
    <br>
    gender
    <br>
    female <input type="radio" name="gender" id="gender" value="female">
    <br>
    male <input type="radio" name="gender" id="gender" value="male">
    <br>
    <button type="submit"> submit</button>
    <p id="output"></p>
    <script type="module" src="../script.js"></script>
</form>
</body>
</html>